* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100%;
    background-color: lightpink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}

header h1 {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: left;
}

header a {
    width: 18%;
}

header img {
    width: 100%;
}

nav {
    width: 15%;
    background-color: lightblue;
    height: 85.7vh;
    overflow-y: scroll;
}

nav a {
    display: block;
    width: 90%;
    border: 1px solid black;
    background-color: aqua;
    height: 2em;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5% auto;
    font-size: 1.2em;
}

main {
    width: 70%;
    background-color: lightgreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: scroll;
    height: 85.7vh;
}

article {
    width: 45%;
    height: 38vh;
    margin: 2vh;
    overflow: hidden;
    cursor: pointer;
}

article img {
    width: 90%;
    margin: 1% 5%;
}

article h3 {
    text-align: center;
}   

article p {
    width: 90%;
    margin: 1% 5%;
    display: none;
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.track {
    width: 100%;
    height: 55%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.track img {
    height: 80%;
    margin: 10% auto;
}

.teams_results {
    width: 100%;
    height: 45%;
    background-color: lightskyblue;
    overflow: scroll;
}

.drivers_results {
    width: 50%;
    height: 100%;
    background-color: lightseagreen;
    overflow: scroll;
}
#dessus {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255,255,255,.8);
}
#dessus img{
    height: 70%;
    position: absolute;
    top: 5%;
    left: 22.5%;
    width: 55%;
}
#dessus img#close{
    left: 90%;
    height: 6em;
    width: 6em;
}
#dessus p{
    position: absolute;
    bottom: 4%;
    text-align: center;
    width: 100%;
}
div table {
    width: 80%;
    margin: 2% auto;
}

aside {
    width: 15%;
    background-color: lightgoldenrodyellow;
    height: 85.7vh;
    overflow: scroll;
}

footer {
    width: 100%;
    background-color: lightpink;
    max-height: 3em;
    padding: 1%;
    text-align: center;
}
